PORT=3333
#DATABASE_URL="postgresql://zapmesa:zapmesa123@postgres:5432/zapmesa"
DATABASE_URL="mysql://zapmesa:zapmesa123@localhost:3306/zapmesa"
JWT_SECRET="troque-este-segredo"
APP_URL="http://localhost:3000"
PUBLIC_API_URL="http://localhost:3333"
API_RATE_LIMIT_MAX=600
AUTH_RATE_LIMIT_MAX=30

# OpenPix (PIX)
OPENPIX_APP_ID=""
OPENPIX_BASE_URL="https://api.openpix.com.br"
OPENPIX_CHARGE_PATH="/api/v1/charge"

# Mercado Pago (Checkout cartão/Pix)
MP_CLIENT_ID=""
MP_CLIENT_SECRET=""
MP_BASE_URL="https://api.mercadopago.com"
